<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="AutoDetectKey" value="AutoDetectValue"/>
  </appSettings>

  <connectionStrings>
    <add name="AutoMyDataBase" connectionString="Data Source=(LocalDB);Integrated Security=True;" providerName="AutoSomeProvider"/>
  </connectionStrings>

  <runtime>
    <gcServer enabled="true"/>
  </runtime>

</configuration>